{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu | {{ parent() }}{% endblock %}

{% block body %}
<div id="sortiesFilterss" class="card">
    <fieldset >
    <h3>Ajouter un Lieu</h3>
    </fieldset>
</div><br>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}

    <label for="codePostal">Code Postal :</label>
    <input type="text" name="codePostal" id="codePostal" readonly>

    <br>

    <button class="btn btn-primary waves-effect waves-light" type="submit">Ajouter</button>
    {{ form_end(lieuForm) }}<br>

    <button class="btn btn-primary waves-effect waves-light" onclick="history.go(-1)">Retour</button>
    <button class="btn btn-primary waves-effect waves-light" onclick="window.location.href='{{ path('ville_create') }}'">Ajouter une ville</button>

{% endblock %}
    {% block javascript%}
    $(document).ready(function (){
        $('#lieu_ville').on("change",function () {
            ajaxCall();
        });
        function ajaxCall() {
            var idVille =$('#lieu_ville').val();
            $.ajax({
                url:'{{ (path('ville_coordinates_empty')) }}/' + idVille,
                method:"post"
            }).done(function (msg) {
            $("#codePostal").val(msg["codePostal"]);
            ajaxCallForApi();
        });
    }

        function ajaxCallForApi() {
        var cp = $('#codePostal').val();
        $.ajax({
            url:"https://geo.api.gouv.fr/communes?codePostal=" + cp + "&fields=centre&format=json&geometry=centre",
            method:"get",
            dataType: 'json',
            contentType: "application/json"
        }).done(function (result) {
            console.log(result);
            $("#lieu_latitude").val(result[0]['centre']['coordinates'][0]);
            $("#lieu_longitude").val(result[0]['centre']['coordinates'][1]);
        });
    }
})
    {% endblock %}