{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
    <div id="sortiesFilters" class="card">
        <form action="">
            <fieldset>
            <legend>Filtrer les sorties</legend>
                <div id="sortiesFilterFormCol1">
                    <label for="selectSite">Site : </label>
                    <select id="selectSite" name="selectSite">
                        {% if sortiesCriteria.site == null %}
                            <option value="" selected>Tous les sites</option>
                        {% else %}
                            <option value="">Tous les sites</option>
                        {% endif %}
                        {% for site in sites %}

                                {% if sortiesCriteria.site != null and sortiesCriteria.site.id == site.id %}
                                    <option value="{{ site.id }}" selected>{{ site.name }}</option>
                                {% else %}
                                    <option value="{{ site.id }}">{{site.name}}</option>
                                {% endif %}

                        {% endfor %}
                    </select>

                    <label for="textSearch">Le nom de la sortie contient : </label>
                    {% if sortiesCriteria.search != '' %}
                        <input type="text" name="textSearch" value="{{ sortiesCriteria.search }}">
                    {% else %}
                        <input type="text" placeholder="rechercher" name="textSearch">
                    {% endif %}

                    <label for="dateDebut">Entre </label>
                    {%  if sortiesCriteria.dateDebut != null %}
                        <input type="date" name="dateDebut" value="{{ sortiesCriteria.dateDebut | date("Y-m-d") }}">
                    {% else %}
                        <input type="date" name="dateDebut">
                    {% endif %}

                    <label for="dateFin"> et  </label>
                    {% if sortiesCriteria.dateFin != null %}
                        <input type="date" name="dateFin" value="{{ sortiesCriteria.dateFin | date("Y-m-d") }}">
                    {% else %}
                        <input type="date" name="dateFin">
                    {% endif %}

                </div>
                <div id="sortiesFilterFormCol2">
                    {% if sortiesCriteria.organisateur == true %}
                        <input type="checkbox" name="checkbox1" checked> Sorties dont je suis l'organisateur/trice <br>
                    {% else %}
                        <input type="checkbox" name="checkbox1"> Sorties dont je suis l'organisateur/trice <br>
                    {% endif %}

                    {% if sortiesCriteria.inscrit == true %}
                        <input type="checkbox" name="checkbox2" checked> Sorties auxquelles je suis inscrit/e <br>
                    {% else %}
                        <input type="checkbox" name="checkbox2"> Sorties auxquelles je suis inscrit/e <br>
                    {% endif %}

                    {% if sortiesCriteria.pasInscrit == true %}
                        <input type="checkbox" name="checkbox3" checked> Sorties auxquelles je ne suis pas inscrit/e <br>
                    {% else %}
                        <input type="checkbox" name="checkbox3"> Sorties auxquelles je ne suis pas inscrit/e <br>
                    {% endif %}

                    {% if sortiesCriteria.sortiePassee == true %}
                        <input type="checkbox" name="checkbox4" checked> Sorties passées <br>
                    {% else %}
                        <input type="checkbox" name="checkbox4"> Sorties passées <br>
                    {% endif %}
                </div>
                <input type="submit" value="Rechercher">
            </fieldset>
        </form>

    </div>

    <div class="tableFixHead">
    <table>
        <thead>
        <tr>
            <th class="th-sm">Nom de la sortie</th>
            <th class="th-sm">Date de la sortie</th>
            <th class="th-sm">Clôture</th>
            <th class="th-sm">Inscrits/places</th>
            <th class="th-sm">État</th>
            <th class="th-sm">Inscrit</th>
            <th class="th-sm">Organisateur</th>
            <th class="th-sm">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% if sortiesCriteria.pasInscrit and sortie.id in userSorties %}
            {% else %}
                <tr>
                    <td>{{sortie.name}}</td>
                    <td>{{sortie.dateTimeStart | date}}</td>
                    <td>{{sortie.deadlineRegistration | date}}</td>
                    <td>{{ sortie.countedUsers }}/{{sortie.maxNumberRegistration}}</td>
                    <td>{{ sortie.etatname }}</td>
                    {% if sortie.id in userSorties %}
                        <td>x</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{sortie.firstname}} {{ sortie.lastname | first}}.</td>
                    <td><a href="{{ path('sortie_show',{'id': sortie.id, 'csrf': csrf_token('sortie_show_'~sortie.id)}) }}"><img src="{{ asset('pictures/magnifying-glass.svg') }}" alt="détail" class="icon_action"></a>  {% if sortie.deadlineRegistration >  date()%}<a href="{{ path('sortie_inscription',{'id': sortie.id, 'csrf': csrf_token('sortie_inscription_'~sortie.id)}) }}"><img src="{{ asset('pictures/book.svg') }}" alt="S'inscrire" class="icon_action"></a>{% endif %}{% if sortie.organisateur.id == app.user.id %}<a href="{{ path('sortie_cancel',{'id': sortie.id, 'csrf': csrf_token('sortie_cancel_'~sortie.id)}) }}"><img src="{{ asset('pictures/cancel.svg') }}" alt="Annuler" class="icon_action"></a>{% endif %}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
