<nav class="navbar navbar-expand-lg navbar-dark bg-couleur-perso">

    <a class="navbar-brand" href="{{path('main_home')}}">
        <img src="{{ asset('pictures/SuperLogo.png') }}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{{path('main_home')}}">Accueil <span class="sr-only">(current)</span></a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{{path('user_profile', {'id': app.user.id})}}">Mon profil</a>
            </li>
                <li class="nav-item" id="sortiesFilters">
                    <a class="nav-link text-white" href="{{ path('sortie_create') }}">Créer une sortie</a>
                </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('Deconnexion') }}">Se déconnecter</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('Connexion') }}">Se connecter</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" id="sortiesFilters">
                    <a class="nav-link text-white" href="{{ path('admin_home') }}">Admin</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

