{% extends 'base.html.twig' %}


{% block title %}Admin/Utilisateurs | {{ parent() }}{% endblock %}
{% block body %}
<div id="sortiesFilterss" class="card">
    <fieldset >
    <h3 class="mb-0 text-center">Utilisateurs/Admin</h3>
    </fieldset>
</div>
    <div class="mt-4">
        <a href="{{ path('admin_user_add') }}">
            <button type="button" class="btn btn-primary">Ajouter un utilisateur</button>
        </a>
        <a href="{{ path('admin_users_add') }}">
            <button type="button" class="btn btn-primary">Ajouter des utilisateurs via fichier CSV</button>
        </a>
    </div>
    <table class="table mb-0 mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for user  in users %}

            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button>
                        <a href="{{ path('admin_user_delete', {'id': user.id, 'csrf': csrf_token('user_delete_'~user.id)}) }}">Effacer</a>
                    </button>
                    <button>
                        <a href="{{ path('user_show_profile', {'id': user.id}) }}">Profil</a>
                    </button>
                    {% if user.active %}
                        <button>
                            <a href="{{ path('admin_user_desactivate', {'id': user.id, 'csrf': csrf_token('user_desactivate_'~user.id)}) }}">Désactiver</a>
                        </button>
                    {% else %}
                        <button>
                            <a href="{{ path('admin_user_activate', {'id': user.id, 'csrf': csrf_token('user_activate_'~user.id)}) }}">Activer</a>
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% set i = i+1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('admin_home') }}">Retour</a>
    </div>
{% endblock %}
