{% extends 'base.html.twig' %}

{% block title %}Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h3>{{ sortie.name }}</h3>
    <form>
        <div class="form-group">
            <div> Nom de la sortie : <span id="sortieName">{{ sortie.name }}</span> </div>
            <div> Date et heure de la sortie : <span id="dateTimeStart">{{ sortie.dateTimeStart |date("Y-m-d h:i") }}</span> </div>
            <div> Date limite d'inscription : <span id="deadline">{{ sortie.deadlineRegistration |date("Y-m-d h:i") }}</span> </div>
            <div> Nombre de place : <span id="nbPlaces">{{ sortie.maxNumberRegistration }}</span></div>
            <div> Durée : <span id="duration">{{ sortie.duration }}</span></div>
            <div> Description et infos : <span id="description">{{ sortie.description }}</span></div>
            <div> Lieu : <span id="lieuName">{{ sortie.lieu.name }}</span></div>
            <div> Adresse : <span id="lieuStreet">{{ sortie.lieu.street }}</span></div>
            <div> Code Postal : <span id="lieuZip">{{ sortie.lieu.ville.zip }}</span></div>
            <div> Ville : <span id="lieuVille">{{ sortie.lieu.ville.name }}</span></div>
            <div> Coordonnées GPS : <span id="lieuGps">{{ sortie.lieu.latitude }} / {{ sortie.lieu.longitude }}</span></div>

            {% if sortie.deadlineRegistration >  date()%}<a class="btn-floating btn-small waves-effect waves-light right black"href="{{ path('sortie_inscription',{'id': sortie.id, 'csrf': csrf_token('sortie_inscription_'~sortie.id)}) }}">M'inscrire</a>{% endif %}
            {% if sortie.id in userSortie %}{% if sortie.dateTimeStart > date() %}<a class="btn-floating btn-small waves-effect waves-light right black"href="{{ path('sortie_remove_inscription',{'id': sortie.id, 'csrf': csrf_token('sortie_remove_inscription_'~sortie.id)}) }}">Me désister</a>{% endif %}{% endif %}

        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th class="th-sm">Pseudo</th>
                <th class="th-sm">Prénom et Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usersList %}
            <tr>
                <td><a href="{{path('user_show_profile', {'id': user.id})}}">{{ user.username }}</a></td>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
