{% extends 'base.html.twig' %}

{% block title %} Profile Utilisateur | {{ parent() }}{% endblock %}

{% block body %}
    <br>
    <h3 class="text-center">{{ user.username }}</h3>
    <br><br>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="mt-4 text-left col-6">
                <div>Prénom : <span id="firstname">{{ user.firstname }}</span> </div>
                <div>Nom : <span id="lastname">{{ user.lastname }}</span></div>
                <div>Téléphone : <span id="telephone">{{ user.telephone }}</span></div>
                <div>Email : <span id="email">{{ user.email }}</span></div>
                <div>Site de rattachement : <span id="site">{{ user.site.name }}</span></div>
                <br>
        </div>
        <div class="col-6 text-center">
            <br><br>
            <img src="{{ asset('uploads/profilePictures/'~app.user.photo ) | imagine_filter('my_thumb') }}"
                 alt="photo de profil">
            <br>
            </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <button class="btn btn-primary float-right" onclick="history.back()">Retour</button>


{% endblock %}



